<div class="container" *ngIf="employee">
  <div class="row">
    <div class="col-md-5">
      <h4>EMPLOYEE DETAILS</h4>

      <div class="employee-info-box">
        <p><b>Id:</b> {{ employee.id }}</p>
        <p><b>Name:</b> {{ employee.name }}</p>
        <p><b>Position:</b> {{ employee.position }}</p>
        <p>
          <b>Hiring Date:</b> {{ employee.hiringDate | date : "yyyy-MM-dd" }}
        </p>
        <p class="mb-0"><b>Salary:</b> {{ employee.salary }}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <a href="/" class="btn btn-primary" role="button">Back</a>
    </div>
  </div>
</div>
