.employee-info-box {
  background-color: #fff;
  padding: 20px 0px;
  border-radius: 5px;
}

.employee-info-box p {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d5dadb;
}

.employee-info-box p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
