<div class="container">
  <div class="title-box">
    <h4>{{ title | uppercase }}</h4>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name" class="mb-1">Name </label>
      <input
        class="form-control"
        id="name"
        type="text"
        formControlName="name"
      />

      <div
        class="errors"
        *ngIf="
          form.controls.name.invalid &&
          (form.controls.name.dirty || form.controls.name.touched)
        "
      >
        <div *ngIf="form.controls.name.errors?.required">Name is required.</div>
      </div>
      <br />
    </div>

    <div class="form-group">
      <label for="position" class="mb-1">Position </label>
      <input
        class="form-control"
        id="position"
        type="text"
        formControlName="position"
      />
      <br />
    </div>

    <div class="form-group">
      <label for="hiring-date" class="mb-1">Hiring Date </label>
      <input
        class="form-control"
        id="hiring-date"
        type="text"
        formControlName="hiringDate"
      />

      <div
        class="errors"
        *ngIf="
          form.controls.hiringDate.invalid &&
          (form.controls.hiringDate.dirty || form.controls.hiringDate.touched)
        "
      >
        <div *ngIf="form.controls.hiringDate.errors?.required">
          Hiring Date is required.
        </div>
        <div *ngIf="form.controls.hiringDate.invalid">
          Hiring Date must be in format: 'yyyy-mm-dd'.
        </div>
      </div>
      <br />
    </div>

    <div class="form-group">
      <label for="salary" class="mb-1">Salary </label>
      <input
        class="form-control"
        id="salary"
        type="text"
        formControlName="salary"
      />

      <div
        class="errors"
        *ngIf="
          form.controls.salary.invalid &&
          (form.controls.salary.dirty || form.controls.salary.touched)
        "
      >
        <div *ngIf="form.controls.salary.invalid">
          Salary must be positive integer numbers.
        </div>
      </div>
      <br />
    </div>

    <button
      type="submit"
      class="btn btn-primary mt-1 me-1"
      [disabled]="!form.valid"
    >
      Submit
    </button>
    <a href="/" class="btn btn-secondary mt-1 me-2" role="button">Cancel</a>
    <span class="mt-2 submited-msg {{ submitedClass }}">{{
      submitedMessage
    }}</span>
  </form>
</div>
