.errors {
  color: red;
  margin-top: 10px;
}

.title-box {
  padding-bottom: 20px;
}

.delete {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.submited-msg {
  vertical-align: bottom;
}

.success {
  color: green;
}

.failed {
  color: red;
}
