<div class="container">
  <div class="title-box">
    <h4>EMPLOYEE LIST</h4>
  </div>

  <ag-grid-angular
    class="ag-theme-quartz"
    style="width: 100%; height: 350px"
    [rowData]="employees"
    [columnDefs]="colDefs"
  >
  </ag-grid-angular>

  <a href="/create-employee" class="btn btn-primary mt-5" role="button"
    >Add Employee</a
  >
</div>
